In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

%matplotlib inline
%load_ext autoreload
%autoreload 2

# There's a lot of columns in the DF. 
# Therefore, we add this option so that we can see more columns
pd.options.display.max_columns = 100

## Load the data

In [2]:
df = pd.read_csv('../data/data_train.csv')

In [3]:
df.head()

       Id  Prediction
0  r44_c1           4
1  r61_c1           3
2  r67_c1           4
3  r72_c1           3
4  r86_c1           5

In [4]:
df['people'] = df['Id'].apply(lambda x: int(x.split('_')[0][1:]))
df['movie'] = df['Id'].apply(lambda x: int(x.split('_')[1][1:]))

In [5]:
df.head()

       Id  Prediction  people  movie
0  r44_c1           4      44      1
1  r61_c1           3      61      1
2  r67_c1           4      67      1
3  r72_c1           3      72      1
4  r86_c1           5      86      1

In [6]:
df = df.drop('Id', axis=1)

In [7]:
peoples = df['people'].unique()
peoples.sort()

In [8]:
print(peoples)

[    1     2     3 ...,  9998  9999 10000]

In [9]:
movies = df['movie'].unique()
movies.sort()

In [10]:
print(movies)

[   1    2    3    4    5    6    7    8    9   10   11   12   13   14   15
   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30
   31   32   33   34   35   36   37   38   39   40   41   42   43   44   45
   46   47   48   49   50   51   52   53   54   55   56   57   58   59   60
   61   62   63   64   65   66   67   68   69   70   71   72   73   74   75
   76   77   78   79   80   81   82   83   84   85   86   87   88   89   90
   91   92   93   94   95   96   97   98   99  100  101  102  103  104  105
  106  107  108  109  110  111  112  113  114  115  116  117  118  119  120
  121  122  123  124  125  126  127  128  129  130  131  132  133  134  135
  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150
  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165
  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180
  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195
  196  197  198  199  200  201  202  203  204  205  206  207  208  209  210
  211  212  213  214  215  216  217  218  219  220  221  222  223  224  225
  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240
  241  242  243  244  245  246  247  248  249  250  251  252  253  254  255
  256  257  258  259  260  261  262  263  264  265  266  267  268  269  270
  271  272  273  274  275  276  277  278  279  280  281  282  283  284  285
  286  287  288  289  290  291  292  293  294  295  296  297  298  299  300
  301  302  303  304  305  306  307  308  309  310  311  312  313  314  315
  316  317  318  319  320  321  322  323  324  325  326  327  328  329  330
  331  332  333  334  335  336  337  338  339  340  341  342  343  344  345
  346  347  348  349  350  351  352  353  354  355  356  357  358  359  360
  361  362  363  364  365  366  367  368  369  370  371  372  373  374  375
  376  377  378  379  380  381  382  383  384  385  386  387  388  389  390
  391  392  393  394  395  396  397  398  399  400  401  402  403  404  405
  406  407  408  409  410  411  412  413  414  415  416  417  418  419  420
  421  422  423  424  425  426  427  428  429  430  431  432  433  434  435
  436  437  438  439  440  441  442  443  444  445  446  447  448  449  450
  451  452  453  454  455  456  457  458  459  460  461  462  463  464  465
  466  467  468  469  470  471  472  473  474  475  476  477  478  479  480
  481  482  483  484  485  486  487  488  489  490  491  492  493  494  495
  496  497  498  499  500  501  502  503  504  505  506  507  508  509  510
  511  512  513  514  515  516  517  518  519  520  521  522  523  524  525
  526  527  528  529  530  531  532  533  534  535  536  537  538  539  540
  541  542  543  544  545  546  547  548  549  550  551  552  553  554  555
  556  557  558  559  560  561  562  563  564  565  566  567  568  569  570
  571  572  573  574  575  576  577  578  579  580  581  582  583  584  585
  586  587  588  589  590  591  592  593  594  595  596  597  598  599  600
  601  602  603  604  605  606  607  608  609  610  611  612  613  614  615
  616  617  618  619  620  621  622  623  624  625  626  627  628  629  630
  631  632  633  634  635  636  637  638  639  640  641  642  643  644  645
  646  647  648  649  650  651  652  653  654  655  656  657  658  659  660
  661  662  663  664  665  666  667  668  669  670  671  672  673  674  675
  676  677  678  679  680  681  682  683  684  685  686  687  688  689  690
  691  692  693  694  695  696  697  698  699  700  701  702  703  704  705
  706  707  708  709  710  711  712  713  714  715  716  717  718  719  720
  721  722  723  724  725  726  727  728  729  730  731  732  733  734  735
  736  737  738  739  740  741  742  743  744  745  746  747  748  749  750
  751  752  753  754  755  756  757  758  759  760  761  762  763  764  765
  766  767  768  769  770  771  772  773  774  775  776  777  778  779  780
  781  782  783  784  785  786  787  788  789  790  791  792  793  794  795
  796  797  798  799  800  801  802  803  804  805  806  807  808  809  810
  811  812  813  814  815  816  817  818  819  820  821  822  823  824  825
  826  827  828  829  830  831  832  833  834  835  836  837  838  839  840
  841  842  843  844  845  846  847  848  849  850  851  852  853  854  855
  856  857  858  859  860  861  862  863  864  865  866  867  868  869  870
  871  872  873  874  875  876  877  878  879  880  881  882  883  884  885
  886  887  888  889  890  891  892  893  894  895  896  897  898  899  900
  901  902  903  904  905  906  907  908  909  910  911  912  913  914  915
  916  917  918  919  920  921  922  923  924  925  926  927  928  929  930
  931  932  933  934  935  936  937  938  939  940  941  942  943  944  945
  946  947  948  949  950  951  952  953  954  955  956  957  958  959  960
  961  962  963  964  965  966  967  968  969  970  971  972  973  974  975
  976  977  978  979  980  981  982  983  984  985  986  987  988  989  990
  991  992  993  994  995  996  997  998  999 1000]

We see here that we have 10000 persons and 1000 movies. Let's create the big matrix! =)

In [11]:
predictions = -1*np.ones((len(movies), len(peoples)))
predictions.shape

(1000, 10000)

In [12]:
for i in range(len(peoples)):
    if (i+1)%1000 == 0:
        print("%i/%i"%(i+1, len(peoples)))
    df_people = df[df['people'] == i+1]['Prediction']
    df_people.index = df[df['people'] == i+1]['movie']-1
    predictions[df_people.index, i] = df_people

1000/10000
2000/10000
3000/10000
4000/10000
5000/10000
6000/10000
7000/10000
8000/10000
9000/10000
10000/10000

In [13]:
df_mat = pd.DataFrame(predictions)

In [14]:
df_mat.shape

(1000, 10000)

In [15]:
df_mat[df_mat == -1] = None

In [16]:
df_mat.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,...,9950,9951,9952,9953,9954,9955,9956,9957,9958,9959,9960,9961,9962,9963,9964,9965,9966,9967,9968,9969,9970,9971,9972,9973,9974,9975,9976,9977,9978,9979,9980,9981,9982,9983,9984,9985,9986,9987,9988,9989,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,3.0,NaN,NaN,NaN,...,5.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,4.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,5.0,NaN,NaN,3.0,NaN,2.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,5.0,4.0,3.0,NaN,NaN,3.0,NaN,NaN,NaN,5.0,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,5.0,4.0,NaN,NaN,3.0,...,3.0,5.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,5.0,5.0,5.0,2.0,4.0,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,4.0,2.0,NaN,2.0,NaN,3.0,NaN,NaN,NaN,5.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,5.0,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
mean = np.zeros(df_mat.shape[0])

for i in range(df_mat.shape[0]):
    mean[i] = df_mat.loc[i,:].mean()

In [18]:
df_mat['mean'] = mean

In [19]:
df_mat['mean'].describe()

count    1000.000000
mean        3.603684
std         0.453853
min         2.022222
25%         3.312477
50%         3.621116
75%         3.915129
max         4.726254
Name: mean, dtype: float64

In [20]:
df_mat['mean'][2]

3.4835858585858586

In [42]:
mean_users = np.zeros(df_mat.shape[1])
for i in range(df_mat.shape[1]):
    if i==10000:
        mean_users[i] = df_mat.loc[:,'mean'].mean() 
    else:
        mean_users[i] = df_mat.loc[:,i].mean()

In [45]:
df_mat.loc['mean', :] = mean_users

In [46]:
df_mat.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,...,9951,9952,9953,9954,9955,9956,9957,9958,9959,9960,9961,9962,9963,9964,9965,9966,9967,9968,9969,9970,9971,9972,9973,9974,9975,9976,9977,9978,9979,9980,9981,9982,9983,9984,9985,9986,9987,9988,9989,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999,mean
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00000,NaN,NaN,NaN,4.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0000,NaN,NaN,NaN,3.00000,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,2.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,3.000000,NaN,4.000000,3.00000,NaN,2.000000,3.000000,3.435374
997,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.00000,1.000000,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.239407
998,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,5.00000,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.353982
999,NaN,3.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,4.000000,...,NaN,NaN,NaN,NaN,NaN,3.000000,4.00,NaN,3.0000,4.000000,NaN,NaN,3.00000,NaN,NaN,NaN,5.000000,NaN,5.00000,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,5.000000,NaN,3.000000,NaN,NaN,4.00000,NaN,NaN,3.000000,3.682306
mean,4.043478,3.771812,3.523256,3.8,3.985075,4.366864,4.129032,4.115385,3.97191,3.82243,3.666667,4.0875,3.671053,3.911392,3.783505,4.027397,3.926316,3.837209,3.565217,3.717391,3.851064,3.924528,3.697917,3.56338,3.433962,3.764706,3.87234,4.227273,3.954545,3.789474,4.317881,3.822581,3.9,3.93,4.22449,3.930233,3.757732,2.824074,3.973154,3.60101,3.788571,4.171429,4.155556,3.893701,4.0,3.575,3.963636,3.413043,3.9,3.740741,...,3.938272,3.597222,3.458065,4.146341,3.674419,3.427273,3.96,3.826446,4.0199,3.883871,3.851064,3.967391,4.01992,3.924051,3.568627,4.589041,3.800948,3.745455,4.04918,3.896996,4.127907,3.617647,3.806452,3.470588,4.036145,3.881356,3.263158,3.634409,3.892857,3.803571,3.324324,4.163934,4.048387,3.550459,4.081081,3.657895,4.059406,3.946429,3.873239,3.495495,4.030303,2.848837,3.936047,3.454545,4.081967,3.48062,3.560976,3.837209,3.973684,3.603684

## Load the sample submission
!
First submission will be with the mean of the movies as predictions

In [21]:
df_sub = pd.read_csv('../data/sampleSubmission.csv')

In [22]:
df_sub['movie'] = df_sub['Id'].apply(lambda x: int(x.split('_')[1][1:]))

In [23]:
df_sub.head()

        Id  Prediction  movie
0   r37_c1           3      1
1   r73_c1           3      1
2  r156_c1           3      1
3  r160_c1           3      1
4  r248_c1           3      1

Put the mean of the movies rating as the prediction.. =)

In [24]:
mean_movies = df_mat['mean'][df_sub['movie']-1]
mean_movies.index = np.arange(df_sub.shape[0])

In [25]:
df_sub['Prediction'] = mean_movies

In [26]:
df_sub = df_sub.drop('movie', axis=1)

In [27]:
df_sub.to_csv('mean_pred_movies.csv', index=False)

## Reload the sample submission

Second submission will be with the mean of the users as predictions

In [28]:
df_sub = pd.read_csv('../data/sampleSubmission.csv')

In [29]:
df_sub['user'] = df_sub['Id'].apply(lambda x: int(x.split('_')[0][1:]))

In [49]:
df_sub.head()

        Id  Prediction  user
0   r37_c1           3    37
1   r73_c1           3    73
2  r156_c1           3   156
3  r160_c1           3   160
4  r248_c1           3   248

Put the mean of the users rating as the prediction.. =)

In [53]:
mean_users = df_mat.loc['mean',:][df_sub['user']-1]
mean_users.index = np.arange(df_sub.shape[0])

In [54]:
df_sub['Prediction'] = mean_users

In [56]:
df_sub = df_sub.drop('user', axis=1)

In [57]:
df_sub.to_csv('mean_pred_user.csv', index=False)